{% extends "layout.html" %}
{% block title %}Applications{% endblock %}
{% block body %}
<ul class="list-group">
    {% for app in wrappers %}
    {% if app.name() != None %}
    <li class="list-group-item">
        {% if app.APP_ICON != None %}
        <img src="{{ app.APP_ICON }}" width="50">
        {% endif %}
        <h4>{{ app.name() }}</h4>
        <h5>Associated Files</h5>
        <ul>
            {% for file in app.fileTypes() %}
            <li>
                <a href="https://www.google.com/search?q={{ app.name() }}+{{ file }}+file">{{ file }}</a>
            </li>
            {% endfor %}
        </ul>
        <h5>Integration</h5>
        <ul>
            <li>Multi-Threaded load up: {{ app.MULTI_THREAD }}</li>
            <li>Python arguments: {{ app.ARGS }}</li>
        </ul>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}