<!DOCTYPE html>
<html lang="en">
<head>
    <title>Floating Tools - Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div class="well well-sm">

        <h2>Floating Tools</h2>

        <span class="help-block">Login to
            <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Logo.png" width="50">
        </span>

        <hr>

        {% if loggedIn == True %}
        <form action="/shutdown">
            <div class="alert alert-success">
                <strong>Logged in!</strong> Click the Back to App button and close this tab to continue.
            </div>
            <input type="submit" name="back-to-app" value="Back to App">
        </form>
        {% else %}
        <form action="/checkLogin">

            {% if invalidLogin == False %}
            <div class="alert alert-danger">
                Username: <input type="text" name="username" class="form-control">
                Password: <input type="password" name="password" class="form-control">

                <button type="button" data-toggle="collapse" data-target="#login_info" name="Invalid Login">Invalid
                    Login
                </button>
                <div id="login_info" class="collapse">
                    This should be the login for your GitHub account.
                </div>
            </div>

            {% else %}
            Username: <input type="text" name="username" class="form-control">
            Password: <input type="password" name="password" class="form-control">
            {% endif %}
            <hr>
            <input type="submit" name="login" value="Login">
        </form>
        {% endif %}
    </div>
</div>

</body>
</html>