<!DOCTYPE html>
<html lang="en">
<head>
    <title>Floating Tools - Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <form action="/shutdown">
        <div class="well well-sm">
            <h2>Repositories</h2>
            <div class="panel panel-default">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Repository</th>
                        <th>Load</th>
                    </tr>
                    </thead>
                    {% for x in repositories %}
                    <tbody>
                    <tr>
                        <th>{{ x }}</th>
                        <th><input type="checkbox" value={{ x }}></th>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            <input type="submit" value="Save Settings">
        </div>
    </form>
</div>

</body>
</html>