<!DOCTYPE html>
<html lang="en">
<head>
    <title>Floating Tools - Settings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<script>
function validateToolBox() {
    var e = document.getElementById("myToolbox");
    var strToolbox = e.options[e.selectedIndex].value;
    window.location = "/settings?myToolbox=" + strToolbox;
}

function setupToolBox() {
    var e = document.getElementById("myToolbox");
    var strToolbox = e.options[e.selectedIndex].value;
    window.location = "/setupToolbox?toolbox=" + strToolbox;
}

function addToolBoxPath() {
    var e = document.getElementById("myToolbox");
    var newPath = document.getElementById("NewPath");
    window.location = "/addToolboxPath?toolbox=" + e.options[e.selectedIndex].value + "&path=" + newPath.value;
}

function removeToolBoxPath() {
    var e = document.getElementById("myToolbox");
    var radios = document.getElementsByName('paths');

    for (var i = 0, length = radios.length; i < length; i++) {
        if (radios[i].checked) {
            window.location = "/addToolboxPath?toolbox=" + e.options[e.selectedIndex].value + "&path=" + radios[i].value + "&remove=True";
            break;
        }
    }
}

function addToolBox() {
    var e = document.getElementById("myToolbox");
    var newToolBox = document.getElementById("NewToolbox").value;
    window.location = "/addToolbox?toolbox=" +  e.options[e.selectedIndex].value + "&newToolbox=" + newToolBox;
}

function removeToolBox() {
    var e = document.getElementById("myToolbox");
    var radios = document.getElementsByName('toolboxes');

    for (var i = 0, length = radios.length; i < length; i++) {
        if (radios[i].checked) {
            window.location = "/addToolbox?toolbox=" + e.options[e.selectedIndex].value + "&newToolbox=" + radios[i].value + "&remove=True";
            break;
        }
    }
}

</script>

<body>

<div id="AddPath" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new toolbox path</h4>
            </div>
            <div class="modal-body">
                <label>New Path:</label><input type="text" id="NewPath" class="form-control">
                <span class="help-block">/path/to/your/tools</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-xs" onclick="addToolBoxPath()">Add</button>
            </div>
        </div>
    </div>
</div>

<div id="RemovePath" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove toolbox path</h4>
            </div>
            <div class="modal-body">
                <form id="ToRemove">
                    {% for path in myToolboxMap.paths %}
                    <input type="radio" name="paths" value={{ path }}/><label>{{ path }}</label>
                    <br>
                    {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-xs" onclick="removeToolBoxPath()">Remove</button>
            </div>
        </div>
    </div>
</div>

<div id="AddToolbox" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a network Toolbox</h4>
            </div>
            <div class="modal-body">
                <label>Toolbox Repository Path:</label><input type="text" id="NewToolbox" class="form-control">
                <span class="help-block">username/repository</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-xs" onclick="addToolBox()">Add</button>
            </div>
        </div>
    </div>
</div>

<div id="RemoveToolbox" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove toolbox path</h4>
            </div>
            <div class="modal-body">
                <form id="ToolBoxRemove">
                    {% for repository in repositories %}
                    <input type="radio" name="toolboxes" value={{ repository.name }}/><label>{{ repository.name
                    }}</label>
                    <br>
                    {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-xs" onclick="removeToolBox()">Remove</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="well well-sm">
        <header>
            <h2>Floating Tools Settings</h2>
        </header>
        <form action="/saveSettings">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>
                        My Toolbox
                        <img src="http://www.hatfieldfx.com/wp-content/uploads/2017/04/toolbox.png" width="25">
                    </h4>
                </div>
                <div class="panel-body">
                    <select name="myToolbox" class="form-control" id="myToolbox" onchange="validateToolBox()">
                        {% for repository in myRepositories %}
                        {% if repository.name == myToolbox %}
                        <option value={{ repository.name }} selected="selected"> {{ repository.name }}</option>
                        {% else %}
                        <option value={{ repository.name }}> {{ repository.name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <hr>
                    {% if myToolboxMap == False %}
                    <input type="button" class="btn btn-info btn-md" value="Set up {{ myToolbox }} as Toolbox"
                           onclick="setupToolBox()">
                    {% else %}
                    <label>Load Paths</label>
                    <ul>
                        {% for path in myToolboxMap.paths %}
                        <li>{{ path }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <input type="button" class="btn btn-success btn-xs" value="Add" data-toggle="modal"
                               data-target="#AddPath">
                        <input type="button" class="btn btn-danger btn-xs" value="Remove" data-toggle="modal"
                               data-target="#RemovePath">
                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>
                        Network Toolboxes
                        <img src="http://www.hatfieldfx.com/wp-content/uploads/2017/04/network_toolbox.png" width="25">
                    </h4>
                </div>
                <div class="panel-body">
                    {% for repository in repositories %}
                    <label>
                        {% if repository.load == True %}
                        <input type="checkbox" name={{ repository.name }} checked/> {{ repository.name }}
                        {% else %}
                        <input type="checkbox" name={{ repository.name }}/> {{ repository.name }}
                        {% endif %}
                    </label>
                    <br>
                    {% endfor %}
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <input type="button" class="btn btn-success btn-xs" value="Add" data-toggle="modal"
                               data-target="#AddToolbox">
                        <input type="button" class="btn btn-danger btn-xs" value="Remove" data-toggle="modal"
                               data-target="#RemoveToolbox">
                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>
                        Floating Tools Install
                    </h4>
                </div>
                <div class="panel-body">
                    <label>Release:</label>
                    <select name="release" class="form-control" id="release">
                        {% for release in releases %}
                        {% if release == currentRelease %}
                        <option value={{ release }} selected>{{ release }}</option>
                        {% else %}
                        <option value={{ release }}>{{ release }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <hr>
                    <a href="#advanced" data-toggle="collapse">Advanced Install Settings</a>
                    <div id="advanced" class="collapse">
                        <div class="alert alert-danger">
                            <label>
                                {% if dev == True %}
                                <input type="checkbox" name="dev" checked> Development Mode
                                {% else %}
                                <input type="checkbox" name="dev"> Development Mode
                                {% endif %}
                            </label>
                            <span class="help-block">By activating this section, are telling Floating Tools to pull from the
                                live FloatingTools repository branches. There is no guarantee that this is stable code
                                because these branches are used for testing. If this is not what you want, uncheck the box
                                above and select the release you would like to load from. If this is intended, relaunch
                                Floating Tools to load into the development environment.
                            </span>
                            <br>
                            <label>Branch:</label>
                            <select name="devBranch" class="form-control" id="devBranch">
                                {% for branch in branches%}
                                {% if branch == currentBranch %}
                                <option value={{ branch }} selected>{{ branch }}</option>
                                {% else %}
                                <option value={{ branch }}>{{ branch }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <br>
                            <strong>Danger!</strong> This will overwrite your existing FloatingTools install. Be sure
                            you really want to do this.

                            <hr>

                            <label>
                                {% if dev == True %}
                                <input type="checkbox" name="collaborator" checked> Collaborator
                                {% else %}
                                <input type="checkbox" name="collaborator"> Collaborator
                                {% endif %}
                            </label>

                            <span class="help-block">If you are developing the FloatingTools build for HatfieldFX LLC as
                                a collaborator, check the Collaborator box and that will shut off all release syncing. You are
                                responsible for setting up FloatingTools in a git environment inside your IDE of choice.
                                We use PyCharm and highly recommend it!
                                <hr>
                                <a href="https://www.jetbrains.com/pycharm/">
                                    <img src="https://d3nmt5vlzunoa1.cloudfront.net/pycharm/files/2015/12/PyCharm_400x400_Twitter_logo_white.png"
                                         width="50" height="50">
                                </a>
                                <a href="https://github.com/aldmbmtl/FloatingTools">
                                    <img src="http://www.hatfieldfx.com/wp-content/uploads/2016/05/cropped-10845960_316492415220139_5883595009066729011_n.png"
                                         height="50">
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <input type="submit" class="btn btn-primary btn-xs" name="saveSettings" value="Save"/>
            </footer>
        </form>
    </div>
</div>

</body>
</html>