{% extends "layout.html" %}
{% block title %}Tool Shed{% endblock %}

{% block help_video %}
<div class="panel panel-default">
    <div class="panel-heading">
        Help Center
    </div>
    <div class="panel-body">
        <ul>
            <li>
                <a href="http://www.hatfieldfx.com/toolbox-setup">Building your tool shed</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}

{% if active_wrapper == None %}
    {% set open_app = "Generic" %}
{% else %}
    {% set open_app = active_wrapper.name() %}
{% endif %}

<script type="text/javascript">
    function importCall(caller){
        window.location = "/tool_shed/_import?module=" + caller.id;
    }
</script>

{% for service, handler in services.iteritems() %}
    <div id="newToolbox-{{ service }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/tool_shed/_addToolbox">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add {{ service }} Toolbox</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" name="service" value="{{ service }}" id="{{ service }}" hidden>
                        {% for field in handler.SOURCE_FIELDS_ORDER[handler.__name__] %}
                            <label for="{{ field }}">{{ field }}:</label>
                            <br>
                            <input type="text" id="{{ field }}" name="{{ field }}">
                            <br>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}

<div id="removeToolbox" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/tool_shed/_removeToolbox">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Remove Toolbox(s)</h4>
                </div>
                <div class="modal-body">
                    Select the toolboxes you want to remove from your Tool Shed. Keep in mind, you can just disable the
                    ones you don't want also. Disabling will not cause a slow down during load up. Removing the toolbox
                    will require you to add them again later. We only recommend this for house-cleaning for your shed.
                    <hr>
                    {% for toolbox in toolboxes %}
                        <input type="checkbox" name="{{ toolbox }}"> {{ toolbox }}
                        <br>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Remove">
                </div>
            </form>
        </div>
    </div>
</div>

<form action="/tool_shed/_save">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5><span class="glyphicon glyphicon-briefcase"></span> Your Tool Shed</h5>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                {% for name in sorted_toolboxes %}

                {% set toolbox = toolboxes[name] %}
                {% set settings = toolboxes[name].settings() %}

                {% if active_wrapper == None %}
                    {% set app_name = "Generic" %}
                {% else %}
                    {% set app_name = active_wrapper.name() %}
                {% endif %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <select name="{{ name }}" class="form-control">
                            {% if settings["load"] == True %}
                                <option value="true" selected>Enable</option>
                                <option value="false">Disable</option>
                            {% else %}
                                <option value="true">Enable</option>
                                <option value="false" selected>Disable</option>
                            {% endif %}
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label>
                                <span class="glyphicon glyphicon-briefcase"></span>
                                <a data-toggle="collapse" href="#repo-{{ toolbox._id }}"> {{ name }}</a>
                            </label> ({{ toolbox._TYPE_ }})
                            <ul>
                                {% for menu_item in toolbox._toolbox_menu_order %}
                                    {% if menu_item in toolbox._toolbox_html_content %}
                                        <li>
                                            <a href="{{ toolbox._toolbox_html_content[menu_item]['html'] }}">{{ toolbox._toolbox_html_content[menu_item]["tag"] }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <div id="repo-{{ toolbox._id }}" class="collapse">
                                <br>
                                <span class="glyphicon glyphicon-cog"></span> Technical Information
                                <ul>
                                    <li>
                                        <span class="glyphicon glyphicon-time"></span>
                                        Load Time
                                        <ul>
                                        {% for app in settings["loadTimes"] %}
                                            {% if app == open_app %}
                                                <li>
                                                    <font color="green"><strong>{{ app }}:</strong></font> {{ settings["loadTimes"][app] }} seconds
                                                </li>
                                            {% else %}
                                                <li>
                                                    <strong>{{ app }}:</strong> {{ settings["loadTimes"][app] }} seconds
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="glyphicon glyphicon-save"></span>
                                        Source
                                        <ul>
                                        {% for field, value in settings["source"].iteritems() %}
                                            <li>
                                                {{ field }}: {{ value }}
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            {% if python_cloud[name] != [] %}
                                {% if name in python_cloud.keys() %}
                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Python.svg/2000px-Python.svg.png" width="20">
                                                <a data-toggle="collapse" href="#{{ python_cloud.keys().index(name) }}"> Python Tool Loader</a>
                                            </div>
                                            <div id="{{ python_cloud.keys().index(name) }}" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th><center>Module/Package</center></th>
                                                                <th><center>Import</center></th>
                                                                <th><center>Start Up Settings</center></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for py in python_cloud[name] %}
                                                            <tr>
                                                                <td>
                                                                    <center>
                                                                        <strong>
                                                                            {{ python_module_key[py] }}
                                                                        </strong>
                                                                    </center>
                                                                </td>
                                                                <td>
                                                                    <center>
                                                                        <button id="{{ py }}" type="button" class="btn btn-primary" onclick="importCall(this)">Import/Reload</button>
                                                                    </center>
                                                                </td>
                                                                <td>
                                                                    <select name="{{ name + '|%|' + py}}" class="form-control">
                                                                        {% if app_name in settings["apps"].keys() %}
                                                                            {% if py in settings["apps"][app_name].keys() %}
                                                                                {% if settings["apps"][app_name][py] == True %}
                                                                                    <option value="true" selected>Auto-Load</option>
                                                                                    <option value="false">Don't Auto-Load</option>
                                                                                {% else %}
                                                                                    <option value="true">Auto-Load</option>
                                                                                    <option value="false" selected>Don't Auto-Load</option>
                                                                                {% endif %}
                                                                            {% else %}
                                                                                <option value="true">Auto-Load</option>
                                                                                <option value="false" selected>Don't Auto-Load</option>
                                                                            {% endif %}
                                                                        {% else %}
                                                                            <option value="true">Auto-Load</option>
                                                                            <option value="false" selected>Don't Auto-Load</option>
                                                                        {% endif %}
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-3">
                    <a data-toggle="collapse" data-target="#toolboxList">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add
                    </a>
                    <div id="toolboxList" class="collapse">
                        <ul>
                            {% for service in services %}
                                <li>
                                    <a data-toggle="modal" data-target="#newToolbox-{{ service }}">{{ service }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br>
                    <a data-toggle="modal" data-target="#removeToolbox"><span
                            class="glyphicon glyphicon-minus"></span> Remove </a>
                </div>
                <div class="col-sm-7"></div>
                <div class="col-sm-2">
                    <input type="submit" class="form-control" value="Save">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}